{% extends 'game_board/base.html' %}

{% block page_header %}
<h1>Categories</h1>
{% endblock page_header %}

{% block content %}
<ul class="list-group border-bottom pb-2 mb-4">
    {% for category in categories %}
        <li class="list-group-item border-0">
            <a href="{% url 'game_board:category' category.id %}">
            <button type="button" class="btn btn-lg btn-outline-info">{{ category.name }}&nbsp;&nbsp;<span class="badge  text-bg-danger">{{ category.boardgame_set.count }}</span></button>
            
            </a>
        </li>
            
    {% empty %}
        <li class="list-group-item border-0">No Category have been added yet.</li>
    {% endfor %}
</ul>

{% endblock content %}