{% extends 'game_board/base.html' %}

{% block page_header %}
<h1>Board Games' Active Lending Status</h1>
{% endblock page_header %}

{% block content %}

<div class="table-responsive">
<table class="table table-hover">
    <thead class="table-danger">
    <tr>
        <th>Board Game</th>
        <th>Lended by</th>
        <th>Lended Date</th>
    </tr>
    </thead>
    <tbody class="table-group-divider">
    {% for loanrecord in loanrecords %}
    <tr>
        <td><a style="text-decoration: none" class="link-danger" href="{% url 'game_board:boardgame' loanrecord.board_game.id %}"><strong>{{ loanrecord.board_game }}&raquo;</strong></a></td>
        <td>{{ loanrecord.debit }}</td>
        <td>{{ loanrecord.date_lended|date:"M d, Y" }}</td>
    </tr>
    {% empty %}
    <tr>
        <td>No Board Game Lended</td>
        <td>None</td>
        <td>/</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
</div>
{% endblock content %}