{% extends "game_board/base.html" %}
{% load django_bootstrap5 %}


{% block page_header %}
<h3><a style="text-decoration: none;" class="link-danger" href="{% url 'game_board:boardgame' boardgame.id %}">{{ boardgame }}&raquo;</a></h3>
<p class="lead"><strong>Removing Board Game !</strong></p>
{% endblock page_header %}

{% block content %}

    <form action="{% url 'game_board:remove_boardgame' boardgame.id %}" method="post">
        {% csrf_token %}
        {% bootstrap_form form %}
        <button class="btn btn-outline-dark" type="submit" value="Remove Game"><i class="bi bi-exclamation-triangle"></i>&nbsp;Remove !!</button>
    </form>

<div class="mb-5"></div>
{% endblock content %}